* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  line-height: 1.4;
}

.product {
  border: 5px solid #000;
  width: 825px;
  margin: 0 auto;
}

.product-title {
  padding: 15px;
  text-transform: uppercase;
  background-color: #eee;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

.product-image {
  display: block;
}

.price {
  font-size: 25px;
}

.free {
  margin-bottom: 20px;
}
.description {
  margin-bottom: 10px;
}


.more-info:link,
.more-info:visited {
  color: #000;
  text-decoration: none;
  font-size: 20px;
}

.more-info:hover,
.more-info:active {
  text-decoration: underline;
}

.details-title {
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.details-list {
  list-style: square;
  margin-left: 25px;
}

.free {
  text-transform: uppercase;
  color: #888;
  font-weight: bold;
}

.add-cart {
  font-size: 22px;
  background-color: #000;
  border: none;
  padding: 10px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  width: 100%;
  padding: 15px;
  border-top: 5px solid #000;
}

.add-cart:hover {
  background-color: #fff;
  color: #000;
}

li {
  margin-bottom: 10px;
}
