* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  color: #444;
  border-top: 10px solid #1098ad;
  margin: 0;
  position: relative;
}

.container {
  margin: 0 auto;
  width: 900px;
  /* position: relative; */
}

.main-header {
  background-color: #f7f7f7;
  padding: 20px 40px;
  margin-bottom: 60px;
}

.main-header-container {
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  /* padding-top: 50px;
  padding-bottom: 50px; */
  padding: 50px 0;
  width: 500px;
}

article {
  margin-bottom: 60px;
}

aside {
  margin: 0 auto;
}

.post-header {
  margin-bottom: 40px;
}

nav {
  font-size: 18px;
}

h1,
h2,
h3 {
  color: #1098ad;
}

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  position: relative;
  font-size: 40px;
  margin-bottom: 30px;
}

h2::after {
  content: "TOP";
  color: #000;
  background-color: #ffe70e;
  padding: 7px;
  font-size: 16px;
  display: inline-block;
  position: absolute;
  top: -15px;
  right: -25px;
}

h3 {
  font-size: 30px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
}

p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}

ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}

li {
  font-size: 20px;
  margin-bottom: 10px;
}

li:last-child {
  margin-bottom: 0;
}

#copyright {
  font-size: 16px;
}

#author {
  font-size: 18px;
  font-style: italic;
}

.author-image {
  float: left;
  margin-bottom: 20px;
}

.related-author {
  font-size: 18px;
  margin-left: 20px;
  margin-top: 10px;
}

.related {
  list-style: none;
}

.post-img {
  width: 100%;
  height: auto;
}

li:first-child {
  font-weight: bold;
}

/* styling links */
/* Order matters */
a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  color: #1098ad;
}

a:hover {
  color: orangered;
  font-weight: bold;
  text-decoration: underline wavy orangered;
}

a:active {
  background-color: black;
  font-style: italic;
}

nav a:link {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
}

nav a:link:last-child {
  margin-right: 0;
}

.like-button {
  border: none;
  font-size: 22px;
  padding: 20px;
  position: absolute;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}

h1 {
  float: left;
}

nav {
  float: right;
}

.clearfix::after {
  content: '';
  clear: both;
  display: block;
}